.search .slds-button_brand {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.td_label {
    width: 50px;
    text-align: right;
    vertical-align: top;
}

.td_value {
    padding-left: 10px;
}

.top_spacing {
    margin-top: 5px;
}

:host .fiexedCard{
    position: fixed;
    z-index: 9999;
    width: 100%;
    left: 0px;
}

:host .slds-button{
    padding: 2px;
}

/* :host {
    overflow-y: hidden;
  } */