:host .slds-scope .slds-scrollable_y,.slds-scope .slds-scrollable--y {
    height: 100% !important;
}
:host .slds-scrollable_y {
    height: 100%;
}

:host .vehicleTable div {
    height: 100%;
}

:host .vehicleTable .slds-scrollable_x {
    overflow-x: hidden;
}

:host .vehicleTable .slds-scrollable_y {
    overflow-y: hidden;
}