.custom-modal-container {
    width: 80%; /* 设置宽度为屏幕的 90% */
    max-width: 1200px; /* 设置最大宽度 */
    height: 90%; /* 设置高度为屏幕的 90% */
    max-height: 90vh; /* 设置最大高度为视口高度的 90% */
    margin: 0 auto; /* 居中显示 */
    display: flex; /* 使用 Flexbox 布局 */
    flex-direction: column; /* 垂直排列内容 */
    justify-content: space-between; /* 垂直分布内容 */
    overflow: hidden; /* 隐藏滚动条 */
}

.custom-modal-content {
    flex: 1; /* 内容区域占据剩余空间 */
    overflow: hidden; /* 隐藏内容区域的滚动条 */
    display: flex; /* 使用 Flexbox 布局 */
    flex-direction: column; /* 垂直排列内容 */
    justify-content: flex-start; /* 从顶部开始排列内容 */
    align-items: stretch; /* 使内容区域的子元素拉伸以填满整个区域 */
}

.custom-iframe {
    width: 100%; /* 设置宽度为 100% */
    height: 100%; /* 设置高度为 100% */
    border: none; /* 去掉边框 */
    resize: none; /* 防止用户手动调整大小 */
    overflow: hidden; /* 隐藏滚动条 */
}