:host{ 
    --sds-c-accordion-heading-font-size: 1rem;
    --slds-c-accordion-section-spacing-inline-end: 0px;
    --slds-c-modal-header-spacing-block-start: 0px;
}
:host .detailHeight{
    --sds-c-textarea-sizing-min-height: 200px;
}

.inputCard-input-body {
    /* margin-left: 11.5%; */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;    /* 垂直居中（如果需要） */
}

.inputCard-message-body {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;    /* 垂直居中（如果需要） */
}

.input__container {
	width: 28%;
    max-width: 90%;
    display: flex;
    /* justify-content: center; 水平居中 */
    align-items: center;    /* 垂直居中（如果需要） */
    /* height: 100vh;         让容器充满视口高度，以便垂直居中 */
    width: 400px;
    margin: 0 10px;           /* 设置左右间距，避免输入框紧贴在一起 */
    /* margin-left: 50px;; */
}

.input-content {
    /* margin-right: 20px; */
    width: 100%;
}
.input-container {
    position: relative;
    width: 100%;
}

/* 样式化下拉列表 */
.dropdown-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    position: absolute;
    background-color: white;
    width: 100%;  /* 让下拉列表宽度与输入框一致 */
    top: 100%;  /* 将下拉列表定位到输入框下方 */
    left: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;  /* 保证下拉列表在输入框之上 */
}

.dropdown-list li {
    padding: 8px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #f4f4f4;
}