.icon-adjustment {
    margin-top: 24px; /* 调整为合适的值 */
}

.line {
    border-top: 1px solid rgb(165, 165, 165); /* 上边框，宽度为2px，颜色为黑色 */
    width: 100%; /* 横线宽度 */
    margin-top: 30px; /* 上边距 */
    margin-bottom: 30px; /* 上边距 */  
}

.noline {
    width: 100%; /* 横线宽度 */
    margin-top: 30px; /* 上边距 */
    margin-bottom: 10px; /* 上边距 */  
}