.THIS.hellow{
	color:red;
}
.THIS .title{
	text-align: center;
    line-height: 32px;
    margin-bottom: 20px;
    padding-bottom:20px;
    border-bottom: 1px solid  #54698d;
}
.THIS .TV_width{
    width: 2000px !important;
}
.THIS .Mobile_width{
    width: 1550px !important;
}
.THIS .hideBottomLine{
    border-bottom: none;
}
.THIS .slds-form-element .slds-form-element__label{
    display: none !important;
}
.THIS.forceChatterBasePublisher .forceChatterPublisherPresentationPanel .container .cuf-content{
    padding: 0 !important;
}
.THIS.assign_engineer_outbox{
    width: 96%;
    background: #fff url(/img/alohaSkin/lookup_bg.png) repeat-x;
    padding: 20px;
}
.THIS .mobileCardHead{
    padding: 0 5px !important;
}
.THIS .slds-text-heading_small,.THIS .slds-text-heading--small{
    font-size: 14px;
    font-weight: bold;
}
.THIS.assign_engineer_title{
    font-size: 18px;
    color: #54698d;
    font-family: 'SalesforceSans-Regular',Helvetica,Arial,sans-serif;
    font-size: 16px;
}
.THIS.assign_engineer_table {
    width:100%;
    table-layout: fixed;
    border-collapse:collapse;
    color: #54698d;
    font-family: 'SalesforceSans-Regular',Helvetica,Arial,sans-serif;
    border: 0;
}
.THIS.assign_engineer_table tr:nth-child(5){
    width:200px;
}
.THIS.assign_engineer_table th{
    background-color: #efefef;
}
.THIS.assign_engineer_table td,.THIS.assign_engineer_table th{   
    text-align: center;
    border:0;
    border-top: 1px solid #e2e8ed;
    border-bottom: 1px solid #e2e8ed; 
    font-size: 12px; 
    height:32px;
    line-height: 32px;
}
.THIS.assign_engineer_table td{
    font-size: 12.5px;
    color: #16325c;
    font-weight: normal;
    height:30px;
    line-height: 30px;
 	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.THIS.assign_engineer_table tr:hover{
    background: #f2f3f3;
}
.THIS.assign_engineer_table input{
    margin-top:4px;
}
.THIS #assign_copy, .THIS #assign_delete{
    margin-top: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(221, 219, 218);
    -webkit-transition: border .15s linear;
    transition: border .15s linear;
    border-color: rgb(221, 219, 218);
    background-color: rgb(255, 255, 255);
    border-radius: .25rem;
    line-height: 1.875rem;
}
.THIS #assign_delete{
    color: rgb(255, 255, 255);
    background-color: rgb(194, 57, 52);
}
.THIS .assign_admit{
    float:right;
    margin-top: 12px;
    margin-left: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(221, 219, 218);
    -webkit-transition: border .15s linear;
    transition: border .15s linear;
    background-color: rgba(27, 82, 151, 1.0);
    border-color: rgba(27, 82, 151, 1.0);
    color: rgb(255, 255, 255);
    border-radius: .25rem;
    line-height: 1.875rem;
}
.THIS .assign_cancel{
    float:right;
    margin-top: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(221, 219, 218);
    -webkit-transition: border .15s linear;
    transition: border .15s linear;
    border-color: rgb(221, 219, 218);
    background-color: rgb(255, 255, 255);
    border-radius: .25rem;
    line-height: 1.875rem;
}
.THIS.submit_outbox{
    width:100%;
    position:relative;
    height:48px;
    padding:7px;
}
.THIS .clearfloat{clear:both}
.THIS .text_select{
    position: relative;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    font-size: 12px;
    vertical-align: top;
}
.THIS .select_box{
    display: inline-block;
    margin-bottom: 0px;
}
.THIS .content{
    margin-bottom: 20px;
}
.THIS .content h1{
    font-size: 1.8em;
    color: #333435;
    margin: 8px 0 4px;
}
.THIS .pageTitleIcon{
    background-image: url(/img/sprites/master.png);
    background-position: 0 -1202px;
    width: 32px;
    height: 32px;
}
.THIS #direction_select,.THIS#technical_select{
    display:inline-block;
}
.THIS .text_select {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    font-size: 12px;
    line-height: 40px;
}
.THIS #technical_select {
    display: inline-block;
}
.THIS #district_select{
	display: inline-block;
}
.THIS .label-wrap {
    position: relative;
    display: inline-block;
    width: 170px;
    font-size: 12px;
    line-height: 1;
    border: 1px solid #ccc;
    cursor: default;
    border-radius: 5px;
    padding: 6px 22px 6px 8px;
}
.THIS .checkbox {
    display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
}
.THIS .label {
    width:150px;
    padding: 6px 22px 6px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 	background: white;
    border: 0px;
}
.THIS .inputText {
    width:85px;
}
.THIS .arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    margin: auto;
}
.THIS .dropdown{
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1000;	
    width:180px;
    visibility:hidden;
}
 .THIS #technical_select:hover .dropdown{
    visibility: visible;
 }
 .THIS #district_select:hover .dropdown{
    visibility: visible;
 }
.THIS .search{
	padding: 6px 8px;
    border-bottom: 1px solid #eee;
    cursor: default;	
}
.THIS .search input {
    width: 100%;
    padding: 2px 4px;
    border: 0;
}
.THIS .option-label{
	display: inline-block;
    left: 20px;
    vertical-align: top;
}
.THIS .option {
    padding: 2px 4px;
    cursor: pointer;
	border-bottom: 1px solid #eee;
}
.THIS .option .checkbox i {
	display: block;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    width: 14px;
    height: 14px;
    border: 1px solid #aeaeae;
    border-radius: 2px;
    background-color: #fff;
}
.THIS .option.selected .checkbox i {
    background-color: rgb(17, 169, 17);
    border-color: transparent;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
}
.THIS .select_admit:hover,.THIS .assign_admit:hover{
    background-color: #e7edf4;
    cursor: pointer;
}