.iconheight{
    /* height: 1.875rem; */
}
.slds-input-has-icon .slds-input__icon {
    margin-top: -0.5%;
    /* position: absolute;
    line-height:normal;
    top:0%;
    margin-top: 0;
    border: 0;
    z-index: 2; */
}