.my-modal-header {
    --slds-c-modal-header-color-background: #fdb020;
}

.my-brand {
    --slds-c-button-neutral-spacing-inline-start: 2rem;
    --slds-c-button-neutral-spacing-inline-end: 2.4rem;
    --slds-c-button-brand-spacing-inline-start: 2rem;
    --slds-c-button-brand-spacing-inline-end: 2.4rem;
}