.THIS .produtInput{
    padding-left: 20px;
    display: inline-block;
    width: 30%;
}
.THIS .confirmButton{
	margin-top: 10px;
    margin-left: 30px;
}
.THIS .searchButton{
    margin-left: 20px;
}
.THIS.alertMessage h2{
    text-align: center;
}
.THIS.alertMessage h2 span{
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-size: 22px;
    font-weight: normal;
}
.THIS.alertMessage .slds-truncate{
    white-space: normal;
}