.THIS.buttonFloatRight{
    float: right;
    margin-left:.5rem;
}
.THIS.buttonColor{
    border-color: rgb(221, 219, 218);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 219, 218);
    color: rgb(62, 62, 60);
}