.THIS .slds-icon-utility-success svg {
    fill: rgb(52,168,83);
}
  
.THIS .slds-icon-utility-error svg {
    fill: rgb(239 65 70);
}

.THIS .slds-icon-utility-close svg {
    fill: rgb(239 65 70);
}