:host{ 
    --sds-c-accordion-heading-font-size: 1rem;
    --slds-c-accordion-section-spacing-inline-end: 0px;
   
}

:host .detailHeight{
    --sds-c-textarea-sizing-min-height: 200px;
}

.slds-modal__container {
	width: 40%;
    max-width: 40%;
}

.title{
    font-weight: bolder;
}

.cursor :hover {
    cursor: pointer;
}

img.pageImg {
    background-color: var(--slds-g-color-neutral-base-100, white);
}

.forceContentModalPreviewPlayer .svg .page.loaded {
    border: 3px dashed transparent;
}

.forceContentModalPreviewPlayer .svg .page:nth-of-type(1) {
    margin-top: 70px;
}

.forceContentModalPreviewPlayer .svg .page {
    margin: 30px auto;
    max-width: 800px;
}