:host{ 
    --sds-c-accordion-heading-font-size: 1rem;
    --slds-c-accordion-section-spacing-inline-end: 0px;
    --sds-c-textarea-sizing-min-height: 240px;
}

.forceListViewManager {
    height: 100%;
    position: relative;
}

.slds-grid {
    display: flex;
}

.slds-has-flexi-truncate {
    flex: 1 1 0%;
    min-width: 0;
}

.slds-media {
    display: flex;
    align-items: flex-start;
}

.forceListViewManager .safari-workaround-anchor {
    height: 100%;
    position: relative;
}

.forceListViewManagerPrimaryDisplayManager {
    width: 100%;
    height: 100%;
    position: relative;
}

.approval-action{
    float: right;
}

.slds-no-flex {
    flex: none;
}

.forceListViewManagerSecondaryDisplayManager>div {
    min-width: 321px;
}

.forceFilterPanel {
    max-width: 321px;
    background-color: var(--lwc-colorBackground, rgb(243, 243, 243));
}

.slds-scrollable--y {
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.forceFilterPanelScope:hover, .forceFilterPanelScope.isLocked {
    background-color: var(--lwc-colorBackground, rgb(243, 243, 243));
}

.forceFilterPanelScope {
    border: var(--slds-g-color-border-base-4, #747474) 1px solid;
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    padding: var(--lwc-spacingSmall, 0.75rem);
}

.forceFilterPanel .bodyTitle, .forceFilterPanel .lockedFieldCriteriaLabel {
    color: var(--lwc-colorTextWeak, rgb(68, 68, 68));
    padding-bottom: var(--lwc-spacingXSmall, 0.5rem);
}

.filterLabel{
    margin-bottom: 2px;
}

.slds-is-relative {
    position: relative;
}