:host{ 
    --sds-c-accordion-heading-font-size: 1rem;
    --slds-c-accordion-section-spacing-inline-end: 0px;
   
}

:host .detailHeight{
    --sds-c-textarea-sizing-min-height: 200px;
}

.slds-modal__container {
	width: 40%;
    max-width: 40%;
}

.title{
    font-weight: bolder;
}

.cursor :hover {
    cursor: pointer;
}