.title{
    height: 120px;
    width: 100%;
    background-color: rgb(0,170,166);
    color: white;
    text-align: center;
    line-height: 120px;
    margin-bottom: 20px;
}

.fontSize{
    font-size:40px;
}

.my-brand {
    --slds-c-button-brand-color-background: rgb(0,170,166);
    --slds-c-button-brand-color-border: rgb(0,170,166);
    --slds-c-button-brand-spacing-inline-start: 2rem;
    --slds-c-button-brand-spacing-inline-end: 2rem;
}