.slds-form-element__help {
    display: none !important;
}
.my-icon-continue{
    --slds-c-icon-color-foreground-default: #E8BE18;
}
.my-icon-start{
    --slds-c-icon-color-foreground-default: #19DFCD;
}
.submited{
    border-radius: 20%;
    padding: 10%;
    background-color: #00C0C0;
    color:white;
    font-weight: bold;
}
.centered-text {
    display: flex;
    align-items: center; /* 垂直居中 */
    height: 36px;
  }

.full-height {
    height: 100vh; /* 使用视口高度单位，使卡片占满整个视口高度 */
    margin: 0; /* 去除外边距 */
}

.container {
    display: flex;
    flex-direction: column;
}

.my-brand {
    --slds-c-button-neutral-color-background: #00C0C0;
    --slds-c-button-neutral-color-background-active: #02b8b8;
    --slds-c-button-neutral-color-background-hover: #02b8b8;
    --slds-c-button-neutral-color-border: #00C0C0;
    --slds-c-button-neutral-color-border-active: #02b8b8;
    --slds-c-button-neutral-color-border-hover: #02b8b8;
    --slds-c-button-text-color: white;
    --slds-c-button-text-color-active: white;
    --slds-c-button-text-color-hover: white;
}

/* .my-brand:hover {
    background-color: #02b8b8;
} */

@media only screen and (max-width: 800px) {
    .my-brand {
        transform: scale(0.8);
        margin-right: -10px;
    }
}

:host .slds-table th, .slds-table td {
    padding: 0px;
}

:host .ticketTable {
    table-layout: fixed;
}
:host .ticketTable td {
    white-space: pre-wrap;
}

:host table.table-even {
    background-color: rgb(243, 243, 243);
}

:host table.table-odd tr:first-child td{
    border: 0;
}

:host .ticketTable:not(:first-child) {
    margin-top: 1rem;
}