.slds-table td {
    padding: 0.75rem;
    /* 增加单元格的内边距 */
}

.slds-table tr {
    border-bottom: 1px solid #ddd;
    /* 给每一行增加下边框 */
}

.slds-table td,
.slds-table th {
    border-top: 1px solid #ddd;
    /* 给单元格顶部增加边框 */
}