.container {
    display: flex;
    align-items: flex-end;
}

.inputred{
    --slds-c-input-color-border: red;
    border-color: red;
}

.thumbnail-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.inline-block-div {
    display: inline-block;
}