.disabled-input .slds-form-element__control {
    .slds-input,.slds-combobox__input {
        background-color: unset;
        border-color: transparent;
        cursor:no-drop;
        color: unset;
    }
    :hover {
        background-color: unset;
    }
}

.disabled-input .slds-form-element__control .slds-input__icon{
    display: none;
}

td.tdOne {
    white-space: pre-wrap;
    word-wrap: break-word;
}
