:host {
    --slds-c-accordion-section-spacing-inline-end: 5px;
    --slds-c-accordion-section-spacing-block-start:5px;
    --slds-c-accordion-section-spacing-block-end:5px;
    --slds-c-accordion-section-spacing-inline-start:5px;
    
    /* --sds-c-accordion-summary-color-background: var(--lwc-colorBackground,rgb(243, 242, 242));  */
    --sds-c-accordion-heading-font-size: 1rem;
    --slds-c-input-spacing-horizontal-start: 12px;
    --lwc-spacingXxSmall: 0px; 
    --input-width: 100%; 
    --input-padding: 0.5rem;
}


/* lightning-accordion-section {
    background-color: var(--accordion-background-color);
    border: 1px solid var(--accordion-border-color);
} */

:host .slds-input[readonly]{
    --slds-c-input-spacing-horizontal-start: inherit;
}
:host .slds-accordion__list-item{
    border-radius: 1px;
    margin: 0px;
}
:host .section-control.slds-button.slds-button_reset.slds-accordion__summary-action{
    --slds-c-accordion-section-spacing-inline-end: 0px;
}

:host .slds-table th, .slds-table td {
    padding: 0px;
}

:host .ticketTable {
    table-layout: fixed;
}
:host .ticketTable td {
    white-space: pre-wrap;
}

:host table.table-even {
    background-color: rgb(243, 243, 243);
}

:host table.table-odd tr:first-child td{
    border: 0;
}

:host .ticketTable:not(:first-child) {
    margin-top: 1rem;
}

:host .slds-radio_button__label {
    font-size: 0.75rem !important; /* 确保文字大小被覆盖 */
    padding: 0rem 0rem !important; /* 确保内边距被覆盖 */
}

.custom-margin {
    margin-top: 10px;
}


/* .custom-radio-group {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}
.horizontal-radio-group {
    display: flex !important; 
    flex-direction: row !important; 
    justify-content: space-between; 
} */
.uniform-width {
    width: 100%;
    max-width: 400px; /* 或根据需要设置具体的宽度 */
}

.thin-line {
    border: none;         /* 去掉默认的边框样式 */
    height: 1px;          /* 设置线的高度 */
    background-color: #ccc; /* 设置线的颜色 */
}
::part(section) {
    background-color: rgb(4, 166, 166);
}

/* Apply styles to lightning-input */
.matching-input {
    width: var(--input-width);
    padding: var(--input-padding);
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

/* Apply styles to lightning-textarea */
.matching-textarea {
    width: var(--input-width);
    padding: var(--input-padding);
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
    border: 1px solid #d8dde6; /* Match border color */
    border-radius: 0.25rem; /* Match border radius */
    background-color: #ffffff; /* Match background color */
    font-size: 1rem; /* Ensure font size matches */
    line-height: 1.5; /* Adjust line height if necessary */
}

.my-brand {
    --slds-c-button-brand-color-background: #25665E;
    --slds-c-button-brand-color-border: #25665E;
}

.backButton{
    --slds-c-button-text-color: #25665E;
}

.inline-block-div {
    display: inline-block;
}

.highlight{
    min-height: 180px;
}

.lowheight{
    min-height: 0px;
}